<div class="welcome">
	<h3>Hey <%= current_user.name %>,</h3>

	<p style="color:#696969;">Every day is better just by virtue of being different. Participate in your friends' happpenings and create your own. </p>
	<hr/>
	<p>As soon as you  <span class="emphasize">add a friend</span> or <span class="emphasize">create a happening</span>, this welcome message will be replaced by your  <span class="emphasize">feed</span>. </p>

	<p>To <strong>add new friends</strong>	  use the search bar up top. </p>

	<p><strong>Create a happpening </strong> in the form to your left. Only need a <strong>what</strong>, a <strong>where</strong>, and a <strong>when</strong>.</p>

	<p>To change your <span class="emphasize">profile picture</span> click on the one you have right now.</p>

	<p>We are happy that you are trying out Happpening, <span class="emphasize">thank you and enjoy!</span></p>
	<hr />
	 
	<p style="color:#696969; font-size:12px" >Your feedback is very valuable to us. If you want to see something changed please contact us directly or use the feedback link at the botom of the screen.</p>
</div>
