<% provide(:title, 'Friends')%>

<div class="row">
	<div class="span7">
		<ul class="users">
			<% if @requests.any?%>
				<h4>Friend Requests</h4>
				<%= render partial: "request", collection: @requests %>
			<% end %>
		</ul>
		<ul class="users">
			<h4>My Friends</h4>
			<% if @friends.any?%>
				<%= render partial: "friend", collection: @friends%>
			<% end %>
		</ul>
	</div>
	<div class="span5">
		<ul class="users">
			<h4>People You May Know</h4>
			<% if @suggestions.any?%>
				<%= render partial: "suggestion", collection: @suggestions%>
			<% end %>
		</ul>
	</div>
</div>