<% provide(:title, 'Friends')%>

<ul class="users">
	<% if @requests.any?%>
		<%= render partial: "request", collection: @requests %>
	<% else %>
		<p>No friend requests to display</p>
	<% end %>
</ul>
