<h1>Happpening Privacy Policy</h1>

<h3>Last Updated 11/16/2012</h3>

<h3>Terms and Conditions</h3>

By using Happpening, the ("Web Site"), you signify that you have read, understand, and agree to these Terms of Use ("This Agreement"). We reserve the right to change these Terms of Use at any time and without further notice. We will post any changes to this site and note the appropriate effective date. Your continued use of this Web Site acknowledges your acceptance to the new Terms of Use. It is your responsibility to regularly review these Terms of Use. If you do not agree to these Terms of Use, please do not use this Web Site.

<h1>Privacy Policy</h1>

<h3>What information do we collect?</h3>

Email addresses, name, 128-bit one-way hash + SALT encrypted password, event data, event replies

<h3>How we use the information we collect?</h3>

We use the information to tailor and improve user experience.

<h3>With Whom Your Information Is Shared</h3>

We never share information we receive from you unless: (a) we have your permission to share that information; (b) we have given you prior notice that the information will be shared, and with whom; or (c) that information is aggregate information or other information that does not identify you.

<h3>Your Consent</h3>

By using Happpening, you consent to our Privacy Policy.

<h3>Changes to our Privacy Policy</h3>

Happpening's Privacy Policy may change from time to time. If we make any changes we will post the changes to this site. This policy was last modified on 11/16/2012.

<h1>Contacting Us</h1>

If there are any questions about this privacy policy you may contact: