<% provide(:title, 'Search Results')%>
<h1>Search Results</h1>

<ol class="users">
	<% if @search_results.any? %>
		<%= render @search_results %>
	<% else %>
		<p>No Results to Display</p>
	<% end %>
</ol>
