<h1>Happpening Terms of Use</h1>
When using Happpening you agree to the following:

<h3>Basic Terms of Usage</h3>

<ol>
<li>You are responsible for any activity that happens under your screen name.</li>
<li>You may not use the Happpening service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.</li>
<li>You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, audio and video clips, links ("Content") that you submit, post, and display on the Happpening service.</li>
<li>Violation of any of these agreements will result in the termination of your Happpening account. While Happpening prohibits such conduct and content on its site, you understand and agree that Happpening cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the Happpening service at your own risk.</li>
<li>Happpening does not control, is not responsible for and makes no representations or warranties with respect to any user or user conduct. You are solely responsible for your interaction with or reliance on any user or user conduct. You must perform any necessary, appropriate, prudent or judicious investigation, inquiry, research and due diligence with respect to any user or user conduct.</li>
<li>Happpening is not liable for any activity while at events planned using our service.</li>
</ol>

<h3>General Conditions</h3>
<ol>
<li>We reserve the right to modify or terminate an event for any reason, without notice at any time.</li>
<li>We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via internet mail according to the preference expressed on your account. What constitutes a "material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgement.</li>
<li>We reserve the right to refuse service to anyone for any reason at any time.</li>
<li>We reserve the right to force forfeiture of any username that becomes inactive, violates trademark, or may mislead other users.</li>
<li>We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.</li>
<li>We reserve the right to reclaim usernames on behalf of businesses or individuals that hold legal claim or trademark on those usernames.</li>
</ol>
