<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hey <%= @requestee.name%>,</p>
    <p><%= @requester.name%> wants to be friends with you</p>
    <p>The Happpening team</p>
  </body>
</html>