<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<div class="mail-logo">
  		<img src="logo.png">
  	</div>
    <p>Hey <%=@user.name%>,</p>
    <p>We are happy to see you try out Happpening!</p>
    <p>We are in our beta state, which means we are actively looking for any feedback. Please let us know directly or via the feedback button at the bottom of the site.</p>

    <p>Thank you and enjoy!</p>

    <p>The Happpening team</p>
  </body>
</html>