<% unless current_user?(@user) %>
  <div id="friend_form<%=@user.id%>" class="friend_form">
	  <% if current_user.following?(@user) %>
	    <%= render 'users/unfollow', user: @user%>
	  <% else %>
	    <%= render 'users/follow', user: @user %>
	  <% end %>
  </div>
<% end %>