<%= form_for(Relationship.where("follower_id = :follower_id and followed_id = :followed_id or follower_id = :followed_id and followed_id = :follower_id", {followed_id: current_user.id, follower_id: user.id})[0],
             remote: true) do |f| %>
  <div>
  	<%= hidden_field_tag :type, 'FOLLOW'%>
  	<%= hidden_field_tag :side, user.id%>
  </div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>

