<% @user ||= current_user %>

<%= javascript_include_tag "crop"%>
<%= render "shared/image_crop"%>

<%= image_tag current_user.avatar.url(:thumb), id: "profile_image", rel: "#crop_div"%>

<h3 id = "username">
	<%= link_to @user.name, @user %>
</h3>
