<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%=@creator.name%> has changed the details of the event: <%=@micropost.content%> </p> 
    <p>The Happpening team</p>
  </body>
</html>