<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>You have been <a href="<%= @protocol.to_s + @host.to_s + ":" + @port.to_s + "/micropost/email/invite" + "?uid=#{@user.id}&eid=#{@micropost.id}" %>">invited</a></p>
  </body>
</html>