<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%=@inviter.name%> has invited you to '<%=@micropost.content%>' happpening</p>
    <p>The Happpening team</p>
  </body>
</html>