<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="mail-logo">
  		<img src="logo.png">
  	</div>
    <p>Hey <%=@micropost.user.name%>,</p>
    <p><strong><%=@participant.name%></strong> has participated in your happpening: <%= @micropost.content %></p>
    <p>The Happpening team</p>
  </body>
</html>