<script type="text/javascript">
	$(function(){
		postsUpdate(<%=micropost.id%>, "/post/refresh", '.post_item', $('#post_feed'));
	});
</script>

<ol class="detailed_post_info">
  	<ol class="users">
  		<div class="row">
  			<div class="span8">
    			<h3>Participants</h3>
    			<div class="user_avatars">
      			<% if participants.any? %>
      				<%= render partial: 'microposts/participant', collection:participants %>
      			<% end %>
        	</div>
  			</div>
		</div>
    <ol class="microposts">
      <div class="row">
        <div class="span8">
          <h3>Replies</h3>
        	
      	  	<ol class="microposts">
      	  		<div id="post_feed">
	      	  		<% if post_items.any? %>
	      				<%= render partial: 'microposts/post_item', collection: post_items %>
	      			<% end %>
      			</div>
  			</ol>
        </div>
      </div>
    </ol>
  	</ol>
</ol>
