<ol class="deatailed_post_info">
  	<ol class="microposts">
   		<%= render partial: 'shared/feed_item', object:micropost %>
  	</ol>
  	<ol class="users">
  		<div class="row">
  			<div class="span8">
    			<h3>Participants</h3>
    			<div class="user_avatars">
      			<% if participants.any? %>
      				<%= render partial: 'microposts/participant', collection:participants %>
      			<% end %>
        		</div>
  			</div>
		</div>
  	</ol>
  	<% if post_items.any? %>
	  	<ol class="microposts">
			<%= render partial: 'microposts/post_item', collection: post_items %>
	  	</ol>
	<% end %>
  	</ol>
</ol>
