<%= link_to image_tag(participant.avatar.url(:thumb), class: "profile_image"), participant, class: "participant", rel: 'tooltip'%>

<!-- <a href="#" class="participant" data-placement="top" rel="tooltip" data-original-title="<%=participant.name%>"><%=image_tag(participant.avatar.url(:thumb), class: "profile_image")%></a> -->