  @import "bootstrap";

body {
  padding-top:60px;
  height: 100%;
}

/*@import "bootstrap-responsive";*/

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container-fluid {
  margin:0 5%;
}

.container{
 min-height:100%;
}

.main_content {
  min-height: 100%;
}

.graphic {
  clear:both;
}

.sign_up_button {
margin-bottom:20px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#header_search{
  margin-top: 9px;
}

#header_search_bar{
  border-radius: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $grayMediumLight;
    text-decoration: none;
  }
}app

#search {
  float: left;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-top: 5px;
  width: 200px;
}

/*notifications*/
.notifications {
  font-size:0.8em;
  list-style: none;
  margin: 10px 0 0 0;
  cursor:pointer;

  a {
      color:#000;
      &:hover {
        text-decoration:none;
      }
  }
  
  li {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
    position: relative;

    &:hover {
      background-color: $grayLighter;
    }
    transition: 0.3s;
    -moz-transition: 0.3s; /* Firefox 4 */
    -webkit-transition: 0.3s; /* Safari and Chrome */
    -o-transition: 0.3s; /* Opera */
  }
}

li.unread {
  font-weight: bold;
}

.popover-content {
  padding-top:0;
  max-height: 240px;
  overflow-y: auto;
}

.notifications a:first-child li {
  border-top:none;
  padding-top:0;
}

/* footer */

/*footer {
  width: inherit;
  
  margin-top: 0px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.wrapper {
    min-height:100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
.push,
.footer {
    height: 60px;
}*/

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:115px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -115px; /* negative value of footer height */
  height: 60px;
  clear:both;
  padding-top:20px;
}

/* Front Page */
#front_header {
  font-size: 35px;
  color: black;
  margin-bottom: 22px;
  margin-top: 22px;
}

#sign_up_button {
  margin-top: 0px;
  width: 85px;
}

.front-text {
	text-align: center;
}

/* Modals */
.modal { 
	outline: none; 
}

/* Inviting */
.invitee {
	margin-top: 5px;
}

.invitee_name {
	display: inline;
}

.invite_form {
	display: inline-block;
	float: right
}

#emails {
	float: left;
	clear: left;
	width: 65% !important;
}

#email_label {
	float: left;
}

#email_invite_form {
	margin-bottom: 10px;
}

#email_submit {
	float: right;
}


/* miscellaneous */

.friend_form {
	display: inline;
}

#invite_button {
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#overlay {
  opacity: 0.5;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}

.emphasize {
  color:#08C;
  font-weight:bold;
}

/* cropping */
#crop_div {
  background-color: white;
  z-index: 11;
  padding: 5px;
  
  border-radius: 3px;
  
  width: 340px;
  height: 170px;
  position:fixed;
  top:50%;
  left:50%;
  margin-top: -160px;
  margin-left: -170px;
}

#crop_btn_div {
  width: 62px;
  margin: 0 auto;
  
  margin-top: 5px;
}

/* feed */
.participating_feed {
  float: right;
  margin-top: 12px;
}

/* user profile */
.profile_image_default {
	width: 75px;
	height: 75px;
}

#change_profile_image {
	margin-bottom: 15px;
}

.profile_image_link {
	display: inline-block;
}

.profile_image_friend {
  width: 75px;
  height: 75px;
}

.profile_image {
  width: 50px;
  height: 50px;
}

.participant_image {
  width: 40px;
  height: 40px;
}

#username {
  display: inline-block;
  margin-left: 10px;
}

/* friending */
.friend_name {
  display: inline;
}

.edit_relationship {
  display: inline-block;
  float: right;
  margin-top: 0px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

#participating-in {
  margin-bottom: 9px;
}

/* forms */

input, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing; 
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  
  li {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
    position: relative;

    &:hover {
      background-color: $grayLighter;
    }
    transition: 0.3s;
    -moz-transition: 0.3s; /* Firefox 4 */
    -webkit-transition: 0.3s; /* Safari and Chrome */
    -o-transition: 0.3s; /* Opera */
  }
}

.location, .time {
  font-weight:bold;
}

.content {
  display: block;
}

.close {
  margin:0;
  padding:0;
  border:0;
  background-color: transparent;
}

.microposts {
  form.button_to {
    margin:0;
  }
}

ol.microposts li {
  cursor: pointer;
}

.timestamp {
  color: $grayLight;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* Micropost form */
span.add-on {
  margin: 0 !important;
}

/*.input-prepend input {
  margin-left: -5px;
}*/

.micropost_field {
  width: 248px;
}

.micropost_create_field {
  margin: 9px 0;
  input#prependedInput {
    width:87% !important;
  }
  
}

.new_micropost {
  overflow:hidden;
}

/* boostrap customizations */

.label-custom{
  display: inline-block;
  a {
    color: white;
    text-decoration: none;
    padding-right: 0px;
    &:hover {
      color: white;
    }
  }
}

.field_with_errors {
  display: inline;
}

/* Detail micropost area */

#by-user {
  display:inline;
  font-size: 13px;
}
.micropost-info {
  position:relative;
}
.micropost_edit_button {
  position:absolute;
  bottom:0;
  right:0;
  cursor:pointer;
  &:hover {
  text-decoration:none;  
  }

}

ol.detailed_post_info {
  margin:0;
  padding: 10px 0;
  border-top: 1px solid #EEE;
}

.detail_content {
  font-size:37px;
  margin-bottom:4px;
}

/*Header*/  

.navbar-form input {
  margin-top:5px;
}

.form-horizontal {
  overflow:hidden;
}

.user_info{
  float:left;
  h1 {
    display:inline;
  }
}

