<footer class="footer">
	<div class="container">
		  <p class="">
		  <small>
		    <a href="#">Happpening © 2012</a> All rights reserved. 
		    <a href="/terms">terms and conditions</a>
		    <a href="/privacy">privacy</a>
		  </small>
		  </p>
  	</div>
</footer>
